.header{
    display: flex;
    justify-content: space-between;
}
#item-one{
    font-size: 35px;
    margin-top: 10px;
    margin-left: 45px;
    color: #3D566E;
    font-weight: bolder;
    cursor: pointer;
}
.item{
    margin-right: 27px;
    font-size: 20px;
    color: #BD6983;
    text-transform: uppercase;
    font-weight: bolder;
}
.item:hover{
    color: #9BE4DC;
    cursor: pointer;
}
.scimg{
    background-image: url(../scorlio3img/homeimg.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    object-fit: contain;
}
.scimg h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 0;
}
.scimg h2{
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 0;
}
.secend-container{
    width: 92%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: -75px;
    margin-left: 56px;

}
.details{
    margin: 10px;
    padding: 17px;
    width: 100%;
    height: 200px;
    align-items: center;
}
.details h3 {
    color: #6E4444;
    font-weight: bolder;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
}
.details p{
    font-size: 20px;
    color: #777777;
    line-height: 30px;
}
#latest{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #924444;
    text-transform: uppercase;
}
.third-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.support{
    border: 1px solid #EEEEEE;
    background-color: white;
    height: 300px;
    width: 100%;
    margin: 25px;
    padding: 20px;
}
.support h3{
    color: #444444;
    text-align: center;

}
.support p{
    color: #C6978D;
    font-size: 25px;
}
.review{
    text-align: center;
}
.review img{
    border-radius: 100%;
}
#review-text{
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #797979;
    
}
.review h2{
    font-size: 35px;
    color: #444444;
}
.first-bottom{
    background-color: #00BBA7;
    width: 100%;
    height: 150px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-bottom p{
    color: #E4F8F6;
    margin-right: 250px;

}
.footer{
    color: whitesmoke;
    font-size: 40px;
    background-color: black;
    width: 100%;
    height: 300px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}
.footer p{
    margin-top: 95px;
}

.single-product{
    width: 400px;
    height: 450px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.image{
    width: 300px;
    height: 200px;
}
.single-product:hover .box{
    display: block;
}

.title{
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin:0 20px;

}

.singlebtn{
    background-color: transparent;
    border: 1px solid white;
    padding: 20px 30px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: turquoise;
    padding: 20px;
    width: 270px;
    height: 200px;
    position: absolute;
    top: 30px;
    left: 48px;
    display: none;
    transition: all 0.3s ease-in;
}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 30px;
        font-weight: 600;
        border-bottom: 1px solid #eee;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin:0 20px;
    
    }
    
    .singlebtn{
        background-color: transparent;
        border: 1px solid white;
        padding: 20px 30px;
    }
    
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: turquoise;
        padding: 20px;
        width: 270px;
        height: 200px;
        position: absolute;
        top: 30px;
        left: 48px;
        display: none;
        transition: all 0.3s ease-in;
    }
  }
@media only screen and (max-width: 1200px) {
    .title{
        font-size: 30px;
        font-weight: 600;
        border-bottom: 1px solid #eee;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin:0 20px;
    
    }
    
    .singlebtn{
        background-color: transparent;
        border: 1px solid white;
        padding: 20px 30px;
    }
    
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: turquoise;
        padding: 20px;
        width: 270px;
        height: 200px;
        position: absolute;
        top: 30px;
        left: 48px;
        display: none;
        transition: all 0.3s ease-in;
    }
  }